<!DOCTYPE html>
<html>
  <head>
    <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <META name="viewport" content="width=device-width, initial-scale=1.0">
    <META name="description" content="Blog posts, web experiments and more by Oliver Mooney">
    <title>Oliver Mooney's corner of the web</title>
  </head>
  <body class = "pure-skin-omhome">

      <!-- pure css menu -->
      <div class = "pure-menu pure-menu-open pure-menu-horizontal">
          <a class="pure-menu-heading" href ="#">Oliver Mooney</a>
          <ul>
              <li><a href="{{servlet-context}}/">Home</a></li>
              <li><a href="{{servlet-context}}/about">About</a></li>
              <li><a href="{{servlet-context}}/cljsexample">Clojurescript</a></li>
              <li class="pure-menu-disabled"><a href = "#">Colophon</a></li>
          </ul>
      </div>

    <div class = "content">
      {% block content %}
      {% endblock %}
    </div>
    <!-- scripts and styles -->
      {% style "/css/pure-custom.css" %}
      {% style "/css/pure.0.4.2.min.css" %}
      {% style "/css/omhome.css" %}
    <script type="text/javascript">
      var context = "{{servlet-context}}";
    </script>
  </body>
</html>

