<article>
    <h1>Applying the CSS in straight HTML</h1>
    <p class="subtitle">Is a decent HTML editor enough to make markdown unneccessary?</p>
    <section>
        <p><span class="newthought">It does seem that</span> I can readily remember the classes encountered so far, and apply them as desired. As long as I remember to apply my own p tags, something the markdown processor does get right (mostly).<label for="sn-demo" class="margin-toggle sidenote-number"></label><input type="checkbox" id="sn-demo" class="margin-toggle"/><span class="sidenote">In which I try to add a sidenote.</span>
        </p>
        <p>And, of course, embedding HTML directly is the default mode, so the markdown transformations that I've no insight into are sidestepped. </p>
        <p>Here is some HTML:</p>
        <pre class="code">&lt;p>&lt;/p></pre>
        <figure></figure>
    </section>
</article>